<!DOCTYPE html>

{% load staticfiles%}<!-- New Line -->

<html>

	<head>
		<title>About</title>
	</head>

	<body>
		
		<div>
			Rango says this is the about page.<br />
		</div>
		<div>
			This tutorial has been put together by Jamie Dickson.
		</div>
		<div>
			<a href="/rango/">Index</a><br />
			<img src="{% static "images/about.jpg" %}"
				alt="Picture of Rango" /><!-- New Line-->
		</div>
		
		<div>
			<img src="{{MEDIA_URL}}cat.jpg"  
				alt="Picture of Cat"/> 		
		</div>

	</body>

</html>